<div class='item' id={{id}}>
	<p class='name'>{{title}}</p>
	{{#if notEmpty}}
	<ul class='details'>
		<table>
			<tr>
				<td>Title URL</td>
				<td class='detail-data'>/articles/{{urlTitle}}</td>
			</tr>
			<tr>
				<td>Author</td>
				<td class='detail-data'>{{author}}</td>
			</tr>
			<tr>
				<td>Body</td>
				<td class='detail-data'>{{body}}</td>
			</tr>
		</table>
	</ul>
	{{/if}}
</div>
<script>
	let notEmpty{{id}} = "{{title}}" !== "Article Does Not Exist" && "{{title}}" !== "Article List is Empty";
	if(window.location.pathname !== '/articles/{{urlTitle}}' && notEmpty{{id}}) {
		let currentProduct = document.getElementById("{{id}}");
		currentProduct.addEventListener('click', () => {
			window.location = '/articles/{{urlTitle}}';
		});
		currentProduct.style.cursor = 'pointer';
		currentProduct.className = 'item clickableItem';
	}
</script>