<div class='item' id='edit-form'>
	<p class='name'>{{title}}</p>
	<ul class='details'>
		<form action="/articles/{{urlTitle}}?_method=PUT" method='POST' id='form'>
			<table>
				<input type='hidden' name='urlTitle' value='{{urlTitle}}'>
				{{#if err}}
				<tr>
					<td style='color: red;'>Error:</td>
					<td class='detail-data' style='color: red; border-width: 0;'>Only enter a-Z, 0-9, and spaces</td>
				</tr>
				{{/if}}
				<tr>
					<td>Title</td>
					<td class='detail-data'><input type='text' name='title' placeholder='{{title}}'></td>
				</tr>
				<tr>
					<td>Author</td>
					<td class='detail-data'><input type='text' name='author' placeholder='{{author}}'></td>
				</tr>
				<tr>
					<td>Body</td>
					<td class='detail-data'><input type='text' name='body' placeholder='{{body}}'></td>
				</tr>
				<tr id='delete-row'>
					<td><div id='delete'>Delete</div></td>
				</tr>
			</table>
		</form>
	</ul>
</div>
<script>
	let form = document.getElementById('form');
	let notEmpty{{id}} = "{{title}}" !== "Article Does Not Exist" && "{{title}}" !== "Article List is Empty";
	let rightPath = window.location.pathname.indexOf("{{urlTitle}}") !== -1 || window.location.pathname === '/articles/new';
	if(rightPath && notEmpty{{id}}) {
		toSaveArticle.addEventListener('click', () => {
			form.submit();
		});
	}else{
		document.getElementById('edit-form').style.display = 'none';
	}
	document.getElementById('delete').addEventListener('click', () => {
		form.setAttribute('action', '/articles/{{urlTitle}}?_method=DELETE');
		form.submit();
	});
</script>