<div class='item' id='editForm'>
	<p>{{id}}</p>
	<ul>
		<li>Name &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; {{name}}</li>
		<li>Price &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; {{price}}</li>
		<li>Inventory &emsp;&emsp;&emsp; {{inventory}}</li>
	</ul>
</div>
<script>
	let notEmpty{{id}} = "{{name}}" !== "Product Does Not Exist" && "{{name}}" !== "Product List is Empty";
	if(window.location.pathname !== '/products/{{id}}' && notEmpty{{id}}) {

	}else{
		document.getElementById('editForm').style.display = 'none';
	}
</script>