<div class='item' id='edit-form'>
	<p class='name'>Product #{{id}}</p>
	<ul class='details'>
		<form action="/products/{{id}}?_method=PUT" method='POST' id='form'>
			<table>
				<input type='hidden' name='id' value='{{id}}'>
				{{#if err}}
				<tr>
					<td style='color: red;'>Error:</td>
					<td class='detail-data' style='color: red; border-width: 0;'>Price must be a number</td>
				</tr>
				{{/if}}
				<tr>
					<td>Name</td>
					<td class='detail-data'><input type='text' name='name' placeholder='{{name}}'></td>
				</tr>
				<tr>
					<td>Price</td>
					<td class='detail-data'><input type='text' name='price' placeholder='{{price}}'></td>
				</tr>
				<tr>
					<td>Inventory</td>
					<td class='detail-data'><input type='text' name='inventory' placeholder='{{inventory}}'></td>
				</tr>
				<tr id='delete-row'>
					<td><div id='delete'>Delete</div></td>
				</tr>
			</table>
		</form>
	</ul>
</div>
<script>
	let form = document.getElementById('form');
	let notEmpty{{id}} = "{{name}}" !== "Product Does Not Exist" && "{{name}}" !== "Product List is Empty";
	let rightPath = window.location.pathname.split('/')[2].substr(0, 6) === "{{id}}" || window.location.pathname === '/products/new';
	if(rightPath && notEmpty{{id}}) {
		toSaveProduct.addEventListener('click', () => {
			form.submit();
		});
	}else{
		document.getElementById('editForm').style.display = 'none';
	}
	document.getElementById('delete').addEventListener('click', () => {
		form.setAttribute('action', '/products/{{id}}?_method=DELETE');
		form.submit();
	});
</script>