<div class='item' id={{id}}>
	<p class='name'>{{name}}</p>
	{{#if notEmpty}}
	<ul>
		<li>ID &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; {{id}}</li>
		<li>Price &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; {{price}}</li>
		<li>Inventory &emsp;&emsp;&emsp; {{inventory}}</li>
	</ul>
	{{/if}}
</div>
<script>
	let notEmpty{{id}} = "{{name}}" !== "Product Does Not Exist" && "{{name}}" !== "Product List is Empty";
	if(window.location.pathname !== '/products/{{id}}' && notEmpty{{id}}) {
		let currentProduct = document.getElementById("{{id}}");
		currentProduct.addEventListener('click', () => {
			window.location = '/products/{{id}}';
		});
		currentProduct.style.cursor = 'pointer';
		currentProduct.className = 'item clickableItem';
	}
</script>